/.classpath
/.project
/classes/
/lib/
/logs/
*.jar
*.class
/java.hprof.txt
/target/
*.bbl
*.blg
*.lof
*.log
*.pdf
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.mw
*.out
*.xdy
*.ist
*syntex*
*.plCode
*.plData
*.plExercise
*.plMath
*.plNote
*.plQuote
/.externalToolBuilders/
/.settings/
/.texlipse/
/dummy/
/.texlipse
